/*------------------------------Reseting and intial set up--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*------------------------------Nav-Bar part--------------------------*/


/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: center/cover no-repeat url("back3.jpg");
    color: #fff;
    opacity: 0.7;
}

.nav-links a {
    color: #fff;
}


/* LOGO */

.logo {
    font-size: 32px;
}

.logo img {
    font-size: 32px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #7c705e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/* DROPDOWN MENU */

.services {
    position: relative;
}

.dropdown {
    background-color: rgb(82, 37, 7);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #e08f63;
}

.services:hover .dropdown {
    display: block;
}


/*RESPONSIVE NAVBAR MENU STARTS*/


/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}


/*HAMBURGER MENU*/

.cheack {
    display: none;
    font-size: 24px;
    user-select: none;
}


/* APPLYING MEDIA QUERIES */


/*------------------------------Image slider part--------------------------*/

.coontainer {
    padding: 2rem;
}

.slider-wraper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.7;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}


/*------------------------------Services Section--------------------------*/

.services {
    text-align: center;
    color: rgb(223, 236, 224);
    align-items: center;
    align-content: center;
}

.column {
    margin-top: 20px;
    float: left;
    width: 30%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #4f4747;
}


/* Responsive columns - one column layout (vertical) on small screens */

#s1 {
    border-bottom: 2px solid black;
}

#s2 {
    height: 700px;
    border-bottom: 2px solid black;
    background: center/cover no-repeat url("back3.jpg");
}

#s3 {
    height: 250px;
    border-bottom: 2px solid black;
    background: center/cover no-repeat url("back2.jpg");
}


/*------------------------------Pricing Section--------------------------*/

.panel-body {
    box-sizing: border-box;
    margin: 0;
    background: center/cover no-repeat url("back3.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
}

.panel {
    background: center/cover no-repeat url("back5.webp");
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    height: 250px;
    width: 370px;
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #9dd1ff;
    color: black;
}

.pricing-button.is-featured {
    background-color: #5e87b9;
    color: white;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
    background-color: #96e0e0;
    color: black;
}


/*----------------------- footer Style---------------------------------*/

footer {
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    background: center/cover no-repeat url("back2.jpg");
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 768px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .panel {
        flex-direction: row;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 15px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    #s3 {
        height: 500px;
        border-bottom: 2px solid black;
        background: center/cover no-repeat url("back2.jpg");
    }
    #s2 {
        height: 300px;
        border-bottom: 2px solid black;
        background: center/cover no-repeat url("back3.jpg");
    }
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(75, 42, 22, 0.568);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #5138307e;
        transition: 0.3s ease;
    }
    .menu li+li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .cheack {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: #e7b7a4;
    }
}